html,
body {
  height: 100%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 330px;
  padding: 20px;
  margin: 0 auto;
  background-color: antiquewhite;
  border-radius: 25px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top{
  margin-top: 10px;
  margin-bottom: 5px;
}

.bottom{
  margin-top: 5px;
  margin-bottom: 10px;
}
